<app-page-title [title]="'Heating Programs'"></app-page-title>

<div class="container" *ngIf="programConfig && programs">

    <div class="row">
        <div class="col">
            <table class="table">
                <tbody>
                    <tr *ngFor="let item of configItems">
                            <td>{{item.description}}</td>
                            <td>{{item.name}}</td>
                            <td><button type="button" class="btn btn-outline-primary" *ngIf="item.showButton" (click)="onDeleteConfigItem(item)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col">
            <p>
                <button type="button" class="btn btn-md btn-primary" (click)="btnAdd()">New program</button>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <div class="card-deck mb-3 text-center">

                <div class="card mb-4 box-shadow" *ngFor="let p of programs.ToArray()">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{p.name}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class=row>
                                <div class=col>
                                    <app-program-info [program]="p"></app-program-info>
                                </div>

                            </div>
                        </div>

                        <div class=row>
                            <div class=col>
                                <p>
                                    <button type="button" class="btn btn-lg btn-outline-primary" (click)="btnActivate(p.id, programModes.Weekday)">Use for weekdays</button>
                                    <button type="button" class="btn btn-lg btn-outline-primary" (click)="btnActivate(p.id, programModes.Saturday)">Use for Saturday</button>
                                    <button type="button" class="btn btn-lg btn-outline-primary" (click)="btnActivate(p.id, programModes.Sunday)">Use for Sunday</button>
                                    <button type="button" class="btn btn-lg btn-outline-primary" (click)="btnActivateForDay(p)">Use for one day</button>
                                </p>
                            </div>
                        </div>

                        <div class=row>
                            <div class=col>
                                <p>
                                    <button type="button" class="btn btn-md btn-primary" (click)="btnEdit(p.id)">Edit</button>
                                    <button type="button" class="btn btn-md btn-primary" (click)="btnDelete(p.id)">Delete</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>