<app-page-title [title]="'Heating Programs'"></app-page-title>

<div class="container">

    <div class="row">
        <div class="col">
            Weekday program:
        </div>
        <div class="col">
            {{programManager.weekdayProgram.name}}
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            Saturday program:
        </div>
        <div class="col">
            {{programManager.saturdayProgram.name}}
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            Sunday program:
        </div>
        <div class="col">
            {{programManager.sundayProgram.name}}
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <p>
                <button type="button" class="btn btn-md btn-outline-primary" (click)="btnAdd()">New program</button>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <div class="card-deck mb-3 text-center">

                <div class="card mb-4 box-shadow" *ngFor="let p of programManager.programs">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{p.name}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class=row>
                                <div class=col>
                                    <app-program-info [program]="p"></app-program-info>
                                </div>

                            </div>
                        </div>

                        <div class=row>
                            <div class=col>
                                <p>
                                    <button type="button" class="btn btn-lg btn-outline-primary" (click)="btnActivate(p, programModes.Weekday)">Use for weekdays</button>
                                    <button type="button" class="btn btn-lg btn-outline-primary" (click)="btnActivate(p, programModes.Saturday)">Use for Saturday</button>
                                    <button type="button" class="btn btn-lg btn-outline-primary" (click)="btnActivate(p, programModes.Sunday)">Use for Sunday</button>
                                </p>
                            </div>
                        </div>

                        <div class=row>
                            <div class=col>
                                <p>
                                    <button type="button" class="btn btn-md btn-outline-primary" (click)="btnEdit(p)">Edit</button>
                                    <button type="button" class="btn btn-md btn-outline-primary" (click)="btnDelete(p)">Delete</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>