<div class="alert alert-success clearfix" *ngIf="successMessage">{{successMessage}} <button type="button" class="btn btn-primary pull-right" (click)="clearMessage()">OK</button></div>

<app-page-title [title]="'System Status'"></app-page-title>

<div class="container" *ngIf="status">
    <div class="row">
        <div class="col">
            <h3>Heating</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">{{status.control.heating | onOff }}</div>
        <div class="col-sm-3"><span *ngIf="status.override">overide {{status.override.state}}</span></div>
        <div class="col-sm-6"></div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Hot water</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">{{status.control.water | onOff }}</div>
        <div class="col-sm-3">auto</div>
        <div class="col-sm-6"></div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Devices</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">boiler</div>
        <div class="col-sm-9">{{status.device.boiler | onOff }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3">heating pump</div>
        <div class="col-sm-9">{{status.device.chPump | onOff }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3">hot water pump</div>
        <div class="col-sm-9">{{status.device.hwPump | onOff }}</div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Environment</h3>
        </div>
    </div>
    <div class="row" *ngFor="let sensor of sensors">
        <div class="col-sm-6">{{ sensor.description}}</div>
        <div class="col-sm-6">{{ sensor.value }}</div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Program</h3>
            <p>{{status.activeProgram.name}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">Hot water min</div>
        <div class="col-sm-6">{{status.activeProgram.hwmin }}</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Hot water max</div>
        <div class="col-sm-6">{{status.activeProgram.hwmax }}</div>
    </div>
    <!-- <div class="row">
        <div class="col">
            <app-program-chart [program]="status.activeProgram"></app-program-chart>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-12"><button type="button" (click)="aaaaa()">Refresh</button></div>
    </div>
</div>