<div class="alert alert-success" *ngIf="successMessage">{{successMessage}}</div>
<div class="container" *ngIf="status">
    <div class="row">
        <div class="col">
            <h3>Heating</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">{{status.control.heating | onOff }}</div>
        <div class="col-sm-3">until 2.30pm</div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-outline-primary" (click)="heatButton(true)">Bump up</button> 
            <button type="button" class="btn btn-outline-primary" (click)="heatButton(false)">Bump down</button></div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Hot water</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">{{status.control.water | onOff }}</div>
        <div class="col-sm-3">auto</div>
        <div class="col-sm-6"><button type="button" class="btn btn-outline-primary">Bath Boost</button></div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Environment</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">Hot water temperature</div>
        <div class="col-sm-6">{{status.env.hwTemp }}</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Hot water min</div>
        <div class="col-sm-6">{{status.program.hwmin }}</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Hot water max</div>
        <div class="col-sm-6">{{status.program.hwmax }}</div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Program</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-program-chart [program]="status.program"></app-program-chart>
        </div>
    </div>
</div>