<app-page-title [title]="'Heating Home'">
</app-page-title>

<div class="alert alert-success" *ngIf="successMessage">{{successMessage}}
    <button type="button" class="btn btn-primary pull-right" (click)="clearMessage()">OK</button>
</div>
<p>
    bedroom temperature is {{status.controller.activeProgram.hwmax}} 
</p>
<p>
    <button type="button" class="btn btn-outline-primary btn-block" (click)="setOverride()">I'm cold, put the heating on!</button>
</p>
<p>
    <button type="button" class="btn btn-outline-primary btn-block" (click)="clearOverride()">Its too damn hot in here</button>
</p>