<app-page-title [title]="'Heating Home'">
</app-page-title>

<div class="container">
    <div class="row">
         <div class="col-auto">
            <div class="content alert alert-success" *ngIf="successMessage">{{successMessage}}
                <button type="button" class="btn btn-primary btn-success mt-1" (click)="clearMessage()">OK</button>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-auto">
                <div class=content>
                    <div>Put heating on</div>
                    <div>
                        <button type="button" class="btn btn-primary mt-1" (click)="setOverride(0.5)">30 minutes</button>
                        <button type="button" class="btn btn-primary mt-1" (click)="setOverride(1)">1 hour</button>
                        <button type="button" class="btn btn-primary mt-1" (click)="setOverride(2)">2 hours</button>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="row">
        <div class="col-auto">
            <div class=content>
                <div>Cancel any heating overrides</div>
                <div>
                        <button type="button" class="btn btn-primary mt-1" (click)="clearOverride()">Clear</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="hotWaterSensor">
        <div class="col-auto">hot water temperature</div>
        <div class="col-auto">{{ hotWaterSensor.value | number:'1.0-0' }}</div>
    </div>

    <div class="row" *ngIf="bedroomSensor">
        <div class="col-auto">bedroom temperature</div>
        <div class="col-auto">{{ bedroomSensor.value | number:'1.0-0' }}</div>
    </div>

</div>