<div class="container">
    <h3>Configured sensors</h3>
    <table *ngIf="allSesnors">
        <thead>
            <th>id</th>
            <th>description</th>
            <th>role</th>
            <th>reading</th>
        </thead>
        <tbody>
            <tr class="table" *ngFor="let sensor of allSesnors.ToArray()">
                <td>{{ sensor.id }}</td>
                <td>{{ sensor.description }}</td>
                <td>{{ sensor.role }}</td>
                <td>{{ sensor.value }}</td>
            </tr>
        </tbody>
    </table>

</div>
