<div class="container">
    <table *ngIf="allSensors">
        <thead>
            <th>Sensor id</th>
            <th>Description</th>
            <th>Role</th>
            <th>Reading</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr class="table" *ngFor="let sensor of allSensors">
                <td>{{ sensor.id }}</td>
                <td>{{ sensor.description }}</td>
                <td>{{ sensor.role }}</td>
                <td>{{ sensor.value }}</td>
                <td><button type="button" class="btn btn-primary" (click)="btnEdit(sensor.id)">Edit</button></td>
                <td><button type="button" class="btn btn-primary" (click)="btnRemove(sensor.id)">Remove</button></td>
            </tr>
        </tbody>
    </table>

</div>